/*Seleccionar la etiqueta */
body {
    margin: 0;
    padding: 0;
}

img{
    width: 200px;
    height: auto;
}
/*posicion relativa a padres y absoluta a hijos */
#intro{
    width: 100vw;
    height: 25vh;
    background-color: tomato;
    position: relative;
}
h1 {
    color: white;
    position: absolute;
    left: 50%;
    bottom: 50%;
    

}

#about{
    width: 100vw;
    height: 25vh;
    background-color: papayawhip;
    position: relative;
}

#about h2{
    position: absolute;
    left: 50%;
    top: 20%;
}
.parrafos {
    position: absolute;
    left: 50%;


}
#fun{
    width: 100vw;
    height: 25vh;
    background-color: yellow;
    position: relative;
}
#fun h2{
    position: absolute;
    left: 80%;
}

#fun p {
    position: absolute;
    left: 80%;
    top:50%;
}

#contacto{
    width: 100vw;
    height: 25vh;
    background-color: peru;
    position: relative;
}

#about h2{
    position: absolute;
    left: 50%


}

#about p{
    position: absolute;

}

#contacto h2 {
    position: absolute;
    top: 50%;
    left:50%
}
#contacto span a{
    position: absolute;
    top: 80%;
    left: 50%
}